# Анализ спроса на самокаты

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
import warnings
warnings.filterwarnings('ignore')

## Предобработка данных о погоде

In [57]:
# Чтение данных и удаление первой строки с единицами измерения
df = pd.read_csv('weather.csv', na_values="", parse_dates=['Datetime']).drop(index=0, axis=1)

# Названия колонок к PEP8
df.columns = df.columns.str.replace(' ', '_').str.lower()

# Приведение колонок к float, кроме колонки с датами
for col in df.columns[1:]:
    df[col] = df[col].astype(float)

### Проверка на дубликаты

In [58]:
df.duplicated().sum(), df['datetime'].duplicated().sum()

(np.int64(0), np.int64(0))

### Работа с пропусками

In [59]:
df.isna().sum() # Проверка наличия пропусков

datetime                0
temperature            55
precipitation_total    30
wind_gust               0
wind_speed             16
cloud_cover_total      20
sunshine_duration      12
dtype: int64

Так как мы работаем с временными рядами, в заполнении пропусков может помочь **интерполяция**, которая отталкивается от значений соседних точек.

#### ДО

In [60]:
df.iloc[1003:1015]

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1004,2023-05-12 19:00:00,14.07,0.10,18.72,6.13,28.00,42.07
1005,2023-05-12 20:00:00,13.69,0.00,14.40,5.51,26.00,0.00
1006,2023-05-12 21:00:00,NaN,0.00,12.96,6.57,20.00,0.00
1007,2023-05-12 22:00:00,NaN,0.00,14.04,7.24,38.00,0.00
1008,2023-05-12 23:00:00,NaN,0.00,14.04,6.62,38.00,0.00
1009,2023-05-13 00:00:00,NaN,0.00,13.68,7.73,25.00,0.00
1010,2023-05-13 01:00:00,NaN,0.00,12.96,7.17,23.70,0.00
1011,2023-05-13 02:00:00,NaN,0.00,12.60,8.56,23.10,0.00
1012,2023-05-13 03:00:00,NaN,0.00,11.16,6.73,59.00,0.00
1013,2023-05-13 04:00:00,NaN,0.00,10.80,6.64,77.00,1.44
1014,2023-05-13 05:00:00,11.87,0.00,11.52,6.88,91.00,4.85
1015,2023-05-13 06:00:00,12.34,0.00,15.12,8.21,93.00,3.64

#### ПОСЛЕ

In [61]:
for col in df.columns[1:]:
    df[col] = df[col].interpolate()
    
df.iloc[1003:1015]

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1004,2023-05-12 19:00:00,14.07,0.10,18.72,6.13,28.00,42.07
1005,2023-05-12 20:00:00,13.69,0.00,14.40,5.51,26.00,0.00
1006,2023-05-12 21:00:00,13.49,0.00,12.96,6.57,20.00,0.00
1007,2023-05-12 22:00:00,13.29,0.00,14.04,7.24,38.00,0.00
1008,2023-05-12 23:00:00,13.08,0.00,14.04,6.62,38.00,0.00
1009,2023-05-13 00:00:00,12.88,0.00,13.68,7.73,25.00,0.00
1010,2023-05-13 01:00:00,12.68,0.00,12.96,7.17,23.70,0.00
1011,2023-05-13 02:00:00,12.48,0.00,12.60,8.56,23.10,0.00
1012,2023-05-13 03:00:00,12.27,0.00,11.16,6.73,59.00,0.00
1013,2023-05-13 04:00:00,12.07,0.00,10.80,6.64,77.00,1.44
1014,2023-05-13 05:00:00,11.87,0.00,11.52,6.88,91.00,4.85
1015,2023-05-13 06:00:00,12.34,0.00,15.12,8.21,93.00,3.64

### Работа со значениями

In [62]:
# Перевод порыва и скорости ветра в м/с и округление до 1 знака после запятой
df[['wind_gust', 'wind_speed']] = (df[['wind_gust', 'wind_speed']] / 3.6).round(1)

# Округление продолжительности солнечного сияния, температуры и облачности до целого
df[['sunshine_duration', 'temperature', 'cloud_cover_total']] = df[['sunshine_duration', 'temperature', 'cloud_cover_total']].round().astype(int)

df.iloc[1234:1240]

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1235,2023-05-22 10:00:00,23,0.00,4.60,0.90,8,55
1236,2023-05-22 11:00:00,24,0.00,5.10,1.10,4,58
1237,2023-05-22 12:00:00,25,0.00,5.00,1.40,4,58
1238,2023-05-22 13:00:00,25,0.10,5.00,1.90,9,55
1239,2023-05-22 14:00:00,26,0.60,6.00,1.00,18,49
1240,2023-05-22 15:00:00,25,0.50,6.40,1.10,19,48

### Проверка на выбросы

In [63]:
df.describe()

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
count,3672,3672.00,3672.00,3672.00,3672.00,3672.00,3672.00
mean,2023-06-16 11:30:00.000000256,18.09,0.10,5.80,2.04,40.98,21.54
min,2023-04-01 00:00:00,-2.00,0.00,0.80,0.00,0.00,0.00
25%,2023-05-09 05:45:00,13.00,0.00,3.70,1.20,15.00,0.00
50%,2023-06-16 11:30:00,18.00,0.00,5.10,1.70,32.00,15.00
75%,2023-07-24 17:15:00,23.00,0.00,7.30,2.60,67.00,43.00
max,2023-08-31 23:00:00,36.00,5.80,19.80,8.30,100.00,60.00
std,NaN,6.84,0.34,2.90,1.18,31.31,21.89

Все значения находятся в норме, выбросов не наблюдается

### Выгрузка новой таблицы

In [64]:
new_units_of_measure = ["", "°C", "mm", "m/s", "m/s", "%", "min"] # Скорости теперь в м / с

first_row = pd.DataFrame([new_units_of_measure], columns=df.columns, index=[0]) 
df = pd.concat([first_row, df], ignore_index=True) # Добавление в начало таблицы


df.to_csv('processed_weather.csv', index=False)

## Предобработка данных о поездках

In [40]:
# Чтение данных и удаление первой строки с единицами измерения
df = pd.read_csv('rides.csv', na_values="", parse_dates=['Start Date', 'End Date'])

# Названия колонок к PEP8
df.columns = df.columns.str.replace(' ', '_').str.lower()
    
# Приводим значения направлений движения к единому формату
df['end_district'] = df['end_district'].str.lower().str.strip().str.replace(" ", '-')
df['start_district'] = df['start_district'].str.lower().str.strip().str.replace(" ", '-')

# Приводим значения начальных и конечных точек к единому формату
df['start_location'] = df['start_location'].str.lower().str.strip().str.replace(".", ' ').str.replace("  ", ' ')
df['start_location'] = df['start_location'].str.replace('ул ', '')

df['end_location'] = df['end_location'].str.lower().str.strip().str.replace(".", ' ').str.replace("  ", ' ')
df['end_location'] = df['end_location'].str.replace('ул ', '')

### Проверка на дубликаты

In [41]:
df.duplicated().sum()

np.int64(4883)

Данные, представленные в таблице rides.csv не должны дублироваться, поэтому удаляем дубликаты

In [42]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

### Работа с пропусками

In [43]:
df.isna().sum() # Проверка наличия пропусков

id                   0
start_date           0
end_date           555
start_location       0
start_district       0
end_location         0
end_district         0
distance          1181
promo                0
dtype: int64

Наблюдаются пропуски с дате окончания поездки и дистанции поездки.

* Пропуски в end_date будем заполнять на основании пройденной дистанции

* Пропуски в distance будем заполнять на основании времени поездки

#### Работа с пропусками в end_date

Рассчитывать время конца поездки будем на основании медианы средней скорости во время пути и дистанции поездки.

Формула: Конец_поездки = начало_поездки + (дистанция / медиана_средней_скорости)

##### ДО

In [44]:
df.iloc[946:949]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo
946,101286,2023-04-22 23:33:50,NaT,чехова,заречный,октябрьская,заречный,2521.00,0
947,101287,2023-04-22 23:35:04,2023-04-22 23:54:26,советская,центральный,суворова,ленинский,3204.00,0
948,101288,2023-04-22 23:36:43,2023-04-23 00:14:03,кирова,ленинский,буденного,октябрьский,3755.00,0

##### ПОСЛЕ

In [45]:
# Создаем колонну ride_duration, которая содержит длительность поездки в минутах
df['ride_duration'] = df.apply(lambda row: (row.end_date - row.start_date).seconds / 60, axis = 1)

# Создаем колонку average_speed, которая хранит среднюю скорость на протяжении всего пути в км/ч
df['average_speed'] = df.apply(lambda row: (row.distance / 1000) / (row.ride_duration / 60), axis=1)

median_average_speed = df['average_speed'].median()

# Заполнение пустых значений в столбце 'end_date'
df['end_date'] = df['end_date'].fillna(
    df['start_date'] + pd.to_timedelta((df['distance'] / 1000) / median_average_speed, unit='h')
)

df.iloc[946:949]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration,average_speed
946,101286,2023-04-22 23:33:50,2023-04-22 23:50:25.672184098,чехова,заречный,октябрьская,заречный,2521.00,0,NaN,NaN
947,101287,2023-04-22 23:35:04,2023-04-22 23:54:26.000000000,советская,центральный,суворова,ленинский,3204.00,0,19.37,9.93
948,101288,2023-04-22 23:36:43,2023-04-23 00:14:03.000000000,кирова,ленинский,буденного,октябрьский,3755.00,0,37.33,6.03

#### Работа с пропусками в distance

Рассчитывать дистанцию поездки будем на основании медианы средней скорости во время пути и длительности поездки.

Формула: Дистанция = медиана_средней_скорости * время_поездки

##### ДО

In [46]:
df.iloc[1130:1133]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration,average_speed
1130,101470,2023-04-23 11:26:28,2023-04-23 12:10:50,речная,юго-восточный,пионерская,заречный,NaN,0,44.37,NaN
1131,101471,2023-04-23 11:27:21,2023-04-23 11:47:01,комарова,ленинский,дружбы,центральный,3581.00,0,19.67,10.93
1132,101472,2023-04-23 11:28:32,2023-04-23 11:50:19,майская,октябрьский,молодежная,юго-восточный,3082.00,0,21.78,8.49

##### ПОСЛЕ

In [47]:
# Заполнение пустых значений в столбце 'distance'
df['distance'] = df['distance'].fillna(median_average_speed * (df['ride_duration'] / 60) * 1000)

df.iloc[1130:1133]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration,average_speed
1130,101470,2023-04-23 11:26:28,2023-04-23 12:10:50,речная,юго-восточный,пионерская,заречный,6740.07,0,44.37,NaN
1131,101471,2023-04-23 11:27:21,2023-04-23 11:47:01,комарова,ленинский,дружбы,центральный,3581.00,0,19.67,10.93
1132,101472,2023-04-23 11:28:32,2023-04-23 11:50:19,майская,октябрьский,молодежная,юго-восточный,3082.00,0,21.78,8.49

#### Проверка работы

In [48]:
df = df.drop(['ride_duration', 'average_speed'], axis=1) # Удаляем уже ненужные стоблцы

df.isna().sum() # Проверка наличия пропусков

id                0
start_date        0
end_date          0
start_location    0
start_district    0
end_location      0
end_district      0
distance          0
promo             0
dtype: int64

### Проверка на выбросы

In [49]:
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe()

,id,start_date,end_date,distance,promo
count,97372.00,97372,97372,97372.00,97372.00
mean,149025.50,2023-06-13 21:06:08.931407360,2023-06-13 21:33:03.576468480,26998.68,0.02
min,100340.00,2023-04-22 09:01:03,2023-04-22 09:24:45,1.00,0.00
25%,124682.75,2023-05-20 21:41:39.500000,2023-05-20 22:07:59,3044.00,0.00
50%,149025.50,2023-06-14 15:15:46,2023-06-14 15:44:53,3703.00,0.00
75%,173368.25,2023-07-08 19:50:22.249999872,2023-07-08 20:18:30,4433.00,0.00
max,197711.00,2023-07-31 23:57:01,2023-08-14 07:25:37.719536260,7569789.00,1.00
std,28109.02,NaN,NaN,307435.12,0.14

В distance присутствуют очень сильные выбросы, вероятно, они вызваны ошибками в показаниях датчиков

Так как выбросы в distance аномально большие или маленькие, то самым простым способом будет вручную отфильтровать выбросы и исправить ошибочные значения, не прибегая к интерквартильному размаху или стандартным отклонениям

Выбросы будем исправлять по аналогии с пропусками.

Некоторые строки с выбросами также содержали пустые данные и на этапе заполнения пустых данных, заполненные пропуски тоже получили некорректные значения. При условии, что один из параметров выброс, а другой был пропущен - мы не можем восстановить данные, следовательно придется их удалить.

In [50]:
# Обновляем значения в колонке ride_duration
df['ride_duration'] = df.apply(lambda row: (row.end_date - row.start_date).seconds / 60, axis=1)

# Удаляем значения, которые невозможно восстановить и обновляем индексацию
df = df[(df['ride_duration'] < 90) & (df['ride_duration'] > 10)]
df = df.reset_index(drop=True)

##### ДО

In [51]:
df.iloc[954:957]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration
954,101299,2023-04-22 23:54:39,2023-04-23 00:23:58,дачная,центральный,свободы,ленинский,4273850.00,0,29.32
955,101300,2023-04-22 23:58:02,2023-04-23 00:20:51,заречная,юго-восточный,спортивная,октябрьский,3186.00,0,22.82
956,101301,2023-04-22 23:58:44,2023-04-23 00:22:00,подгорная,ленинский,озерная,юго-восточный,4679.00,0,23.27

##### ПОСЛЕ

In [52]:
# Заменяем выбросы в соответствии с формулой
df['distance'] = df['distance'].where(
    (df['distance'] >= 10) & (df['distance'] <= 50000), 
    median_average_speed * (df['ride_duration'] / 60) * 1000
).round().astype(int)

df.iloc[954:957]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration
954,101299,2023-04-22 23:54:39,2023-04-23 00:23:58,дачная,центральный,свободы,ленинский,4454,0,29.32
955,101300,2023-04-22 23:58:02,2023-04-23 00:20:51,заречная,юго-восточный,спортивная,октябрьский,3186,0,22.82
956,101301,2023-04-22 23:58:44,2023-04-23 00:22:00,подгорная,ленинский,озерная,юго-восточный,4679,0,23.27

#### Проверка работы

In [53]:
# Удаляем теперь ненужные колонны таблицы
df = df.drop(['ride_duration'], axis=1) 

df.describe()

,id,start_date,end_date,distance,promo
count,96638.00,96638,96638,96638.00,96638.00
mean,149020.97,2023-06-13 20:58:56.413264128,2023-06-13 21:25:26.435115264,3845.82,0.02
min,100340.00,2023-04-22 09:01:03,2023-04-22 09:24:45,1094.00,0.00
25%,124672.25,2023-05-20 21:32:31.750000128,2023-05-20 21:58:06,3119.00,0.00
50%,149018.50,2023-06-14 15:08:45,2023-06-14 15:37:43.500000,3743.00,0.00
75%,173376.75,2023-07-08 19:55:47.500000,2023-07-08 20:21:19.500000,4456.00,0.00
max,197711.00,2023-07-31 23:57:01,2023-08-01 00:42:12,12675.00,1.00
std,28113.79,NaN,NaN,1036.42,0.14

### Выгрузка новой таблицы

In [54]:
# Приводим дистанцию к целочисленному типу
df['distance'] = df['distance'].astype(int)

df.to_csv('processed_rides.csv', index=False, date_format='%Y-%m-%d %H:%M:%S')

## Объединение таблиц

Для более удобного анализа данных стоит объединить имеющиеся таблицы

In [65]:
rides_df = pd.read_csv('processed_rides.csv', parse_dates=['start_date', 'end_date'])
weather_df = pd.read_csv('processed_weather.csv', parse_dates=['datetime']).drop(index=0, axis=1)

rides_df['rounded_start_time'] = rides_df['start_date'].dt.round('h')


merge_df = pd.merge_asof(
    rides_df.sort_values('rounded_start_time'), 
    weather_df.sort_values('datetime'), 
    left_on='rounded_start_time', 
    right_on='datetime', 
    direction='backward'
)

merge_df = merge_df.drop('rounded_start_time', axis=1)

merge_df.to_csv('rides_&_weather.csv', index=False)

## Проведение расчетов и иссследований

### 1. Расчет итоговой стоимости

![alt text](image.png)

In [ ]:
# тык-тык тут код

### 2. Стимулирует ли акция спрос на самокаты?

. . .

## Проверка гипотез

### 1. В дождливое время спрос на самокаты ниже.

H0: Спрос на самокаты <u>не зависит</u> от погодных условий

H1: Спрос на самокаты <u>зависит</u> от погодных условий

In [ ]:
# тут код с проверкой теории, и объяснением почему мы используем какие-то коэффиценты.