# Анализ спроса на самокаты

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings('ignore')

## Предобработка данных о погоде

In [3]:
# Чтение данных и удаление первой строки с единицами измерения
df = pd.read_csv('weather.csv', na_values="", parse_dates=['Datetime']).drop(index=0, axis=1)

# Названия колонок к PEP8
df.columns = df.columns.str.replace(' ', '_').str.lower()

# Приведение колонок к float, кроме колонки с датами
for col in df.columns[1:]:
    df[col] = df[col].astype(float)

### Проверка на дубликаты

In [4]:
df.duplicated().sum(), df['datetime'].duplicated().sum()

(0, 0)

### Работа с пропусками

In [5]:
df.isna().sum() # Проверка наличия пропусков

datetime                0
temperature            55
precipitation_total    30
wind_gust               0
wind_speed             16
cloud_cover_total      20
sunshine_duration      12
dtype: int64

Так как мы работаем с временными рядами, в заполнении пропусков может помочь **интерполяция**, которая отталкивается от значений соседних точек.

#### ДО

In [6]:
df.iloc[1003:1015]

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1004,2023-05-12 19:00:00,14.070246,0.1,18.720000,6.130579,28.0,42.074078
1005,2023-05-12 20:00:00,13.690246,0.0,14.400000,5.506941,26.0,0.000000
1006,2023-05-12 21:00:00,NaN,0.0,12.959999,6.569383,20.0,0.000000
1007,2023-05-12 22:00:00,NaN,0.0,14.040000,7.244860,38.0,0.000000
1008,2023-05-12 23:00:00,NaN,0.0,14.040000,6.618519,38.0,0.000000
1009,2023-05-13 00:00:00,NaN,0.0,13.679999,7.729527,25.0,0.000000
1010,2023-05-13 01:00:00,NaN,0.0,12.959999,7.172949,23.7,0.000000
1011,2023-05-13 02:00:00,NaN,0.0,12.599999,8.557102,23.1,0.000000
1012,2023-05-13 03:00:00,NaN,0.0,11.159999,6.725354,59.0,0.000000
1013,2023-05-13 04:00:00,NaN,0.0,10.799999,6.638072,77.0,1.440741
1014,2023-05-13 05:00:00,11.870245,0.0,11.520000,6.877790,91.0,4.848486
1015,2023-05-13 06:00:00,12.340245,0.0,15.119999,8.209263,93.0,3.636364

#### ПОСЛЕ

In [7]:
for col in df.columns[1:]:
    df[col] = df[col].interpolate()
    
df.iloc[1003:1015]

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1004,2023-05-12 19:00:00,14.070246,0.1,18.720000,6.130579,28.0,42.074078
1005,2023-05-12 20:00:00,13.690246,0.0,14.400000,5.506941,26.0,0.000000
1006,2023-05-12 21:00:00,13.488024,0.0,12.959999,6.569383,20.0,0.000000
1007,2023-05-12 22:00:00,13.285801,0.0,14.040000,7.244860,38.0,0.000000
1008,2023-05-12 23:00:00,13.083579,0.0,14.040000,6.618519,38.0,0.000000
1009,2023-05-13 00:00:00,12.881357,0.0,13.679999,7.729527,25.0,0.000000
1010,2023-05-13 01:00:00,12.679134,0.0,12.959999,7.172949,23.7,0.000000
1011,2023-05-13 02:00:00,12.476912,0.0,12.599999,8.557102,23.1,0.000000
1012,2023-05-13 03:00:00,12.274690,0.0,11.159999,6.725354,59.0,0.000000
1013,2023-05-13 04:00:00,12.072467,0.0,10.799999,6.638072,77.0,1.440741
1014,2023-05-13 05:00:00,11.870245,0.0,11.520000,6.877790,91.0,4.848486
1015,2023-05-13 06:00:00,12.340245,0.0,15.119999,8.209263,93.0,3.636364

### Работа со значениями

In [8]:
# Перевод порыва и скорости ветра в м/с и округление до 1 знака после запятой
df[['wind_gust', 'wind_speed']] = (df[['wind_gust', 'wind_speed']] / 3.6).round(1)

# Округление продолжительности солнечного сияния, температуры и облачности до целого
df[['sunshine_duration', 'temperature', 'cloud_cover_total']] = df[['sunshine_duration', 'temperature', 'cloud_cover_total']].round().astype(int)

df.iloc[1234:1240]

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
1235,2023-05-22 10:00:00,23,0.0,4.6,0.9,8,55
1236,2023-05-22 11:00:00,24,0.0,5.1,1.1,4,58
1237,2023-05-22 12:00:00,25,0.0,5.0,1.4,4,58
1238,2023-05-22 13:00:00,25,0.1,5.0,1.9,9,55
1239,2023-05-22 14:00:00,26,0.6,6.0,1.0,18,49
1240,2023-05-22 15:00:00,25,0.5,6.4,1.1,19,48

### Проверка на выбросы

In [9]:
df.describe()

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
count,3672,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000
mean,2023-06-16 11:30:00.000000256,18.087691,0.100218,5.801825,2.039434,40.980664,21.543573
min,2023-04-01 00:00:00,-2.000000,0.000000,0.800000,0.000000,0.000000,0.000000
25%,2023-05-09 05:45:00,13.000000,0.000000,3.700000,1.200000,15.000000,0.000000
50%,2023-06-16 11:30:00,18.000000,0.000000,5.100000,1.700000,32.000000,15.000000
75%,2023-07-24 17:15:00,23.000000,0.000000,7.300000,2.600000,67.000000,43.000000
max,2023-08-31 23:00:00,36.000000,5.800000,19.800000,8.300000,100.000000,60.000000
std,NaN,6.838842,0.342384,2.899036,1.184241,31.313242,21.890226

Все значения находятся в норме, выбросов не наблюдается

### Выгрузка новой таблицы

In [10]:
new_units_of_measure = ["", "°C", "mm", "m/s", "m/s", "%", "min"] # Скорости теперь в м / с

first_row = pd.DataFrame([new_units_of_measure], columns=df.columns, index=[0]) 
df = pd.concat([first_row, df], ignore_index=True) # Добавление в начало таблицы


df.to_csv('processed_weather.csv', index=False)

## Предобработка данных о поездках

In [11]:
# Чтение данных и удаление первой строки с единицами измерения
df = pd.read_csv('rides.csv', na_values="", parse_dates=['Start Date', 'End Date'])

# Названия колонок к PEP8
df.columns = df.columns.str.replace(' ', '_').str.lower()
    
# Приводим значения направлений движения к единому формату
df['end_district'] = df['end_district'].str.lower().str.strip().str.replace(" ", '-')
df['start_district'] = df['start_district'].str.lower().str.strip().str.replace(" ", '-')

# Приводим значения начальных и конечных точек к единому формату
df['start_location'] = df['start_location'].str.lower().str.strip().str.replace(".", ' ').str.replace("  ", ' ')
df['start_location'] = df['start_location'].str.replace('ул ', '')

df['end_location'] = df['end_location'].str.lower().str.strip().str.replace(".", ' ').str.replace("  ", ' ')
df['end_location'] = df['end_location'].str.replace('ул ', '')

### Проверка на дубликаты

In [12]:
df.duplicated().sum()

4883

Данные, представленные в таблице rides.csv не должны дублироваться, поэтому удаляем дубликаты

In [13]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

### Работа с пропусками

In [14]:
df.isna().sum() # Проверка наличия пропусков

id                   0
start_date           0
end_date           555
start_location       0
start_district       0
end_location         0
end_district         0
distance          1181
promo                0
dtype: int64

Наблюдаются пропуски с дате окончания поездки и дистанции поездки.

* Пропуски в end_date будем заполнять на основании пройденной дистанции

* Пропуски в distance будем заполнять на основании времени поездки

#### Работа с пропусками в end_date

Рассчитывать время конца поездки будем на основании медианы средней скорости во время пути и дистанции поездки.

Формула: Конец_поездки = начало_поездки + (дистанция / медиана_средней_скорости)

##### ДО

In [15]:
df.iloc[946:949]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo
946,101286,2023-04-22 23:33:50,NaT,чехова,заречный,октябрьская,заречный,2521.0,0
947,101287,2023-04-22 23:35:04,2023-04-22 23:54:26,советская,центральный,суворова,ленинский,3204.0,0
948,101288,2023-04-22 23:36:43,2023-04-23 00:14:03,кирова,ленинский,буденного,октябрьский,3755.0,0

##### ПОСЛЕ

In [16]:
# Создаем колонну ride_duration, которая содержит длительность поездки в минутах
df['ride_duration'] = df.apply(lambda row: (row.end_date - row.start_date).seconds / 60, axis = 1)

# Создаем колонку average_speed, которая хранит среднюю скорость на протяжении всего пути в км/ч
df['average_speed'] = df.apply(lambda row: (row.distance / 1000) / (row.ride_duration / 60), axis=1)

median_average_speed = df['average_speed'].median()

# Заполнение пустых значений в столбце 'end_date'
df['end_date'] = df['end_date'].fillna(
    df['start_date'] + pd.to_timedelta((df['distance'] / 1000) / median_average_speed, unit='h')
)

df.iloc[946:949]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration,average_speed
946,101286,2023-04-22 23:33:50,2023-04-22 23:50:25.672184098,чехова,заречный,октябрьская,заречный,2521.0,0,NaN,NaN
947,101287,2023-04-22 23:35:04,2023-04-22 23:54:26.000000000,советская,центральный,суворова,ленинский,3204.0,0,19.366667,9.926334
948,101288,2023-04-22 23:36:43,2023-04-23 00:14:03.000000000,кирова,ленинский,буденного,октябрьский,3755.0,0,37.333333,6.034821

#### Работа с пропусками в distance

Рассчитывать дистанцию поездки будем на основании медианы средней скорости во время пути и длительности поездки.

Формула: Дистанция = медиана_средней_скорости * время_поездки

##### ДО

In [17]:
df.iloc[1130:1133]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration,average_speed
1130,101470,2023-04-23 11:26:28,2023-04-23 12:10:50,речная,юго-восточный,пионерская,заречный,NaN,0,44.366667,NaN
1131,101471,2023-04-23 11:27:21,2023-04-23 11:47:01,комарова,ленинский,дружбы,центральный,3581.0,0,19.666667,10.925085
1132,101472,2023-04-23 11:28:32,2023-04-23 11:50:19,майская,октябрьский,молодежная,юго-восточный,3082.0,0,21.783333,8.489059

##### ПОСЛЕ

In [18]:
# Заполнение пустых значений в столбце 'distance'
df['distance'] = df['distance'].fillna(median_average_speed * (df['ride_duration'] / 60) * 1000)

df.iloc[1130:1133]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration,average_speed
1130,101470,2023-04-23 11:26:28,2023-04-23 12:10:50,речная,юго-восточный,пионерская,заречный,6740.07179,0,44.366667,NaN
1131,101471,2023-04-23 11:27:21,2023-04-23 11:47:01,комарова,ленинский,дружбы,центральный,3581.00000,0,19.666667,10.925085
1132,101472,2023-04-23 11:28:32,2023-04-23 11:50:19,майская,октябрьский,молодежная,юго-восточный,3082.00000,0,21.783333,8.489059

#### Проверка работы

In [19]:
df = df.drop(['ride_duration', 'average_speed'], axis=1) # Удаляем уже ненужные стоблцы

df.isna().sum() # Проверка наличия пропусков

id                0
start_date        0
end_date          0
start_location    0
start_district    0
end_location      0
end_district      0
distance          0
promo             0
dtype: int64

### Проверка на выбросы

In [20]:
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe()

,id,start_date,end_date,distance,promo
count,97372.00,97372,97372,97372.00,97372.00
mean,149025.50,2023-06-13 21:06:08.931407360,2023-06-13 21:33:03.576468480,26998.68,0.02
min,100340.00,2023-04-22 09:01:03,2023-04-22 09:24:45,1.00,0.00
25%,124682.75,2023-05-20 21:41:39.500000,2023-05-20 22:07:59,3044.00,0.00
50%,149025.50,2023-06-14 15:15:46,2023-06-14 15:44:53,3703.00,0.00
75%,173368.25,2023-07-08 19:50:22.249999872,2023-07-08 20:18:30,4433.00,0.00
max,197711.00,2023-07-31 23:57:01,2023-08-14 07:25:37.719536260,7569789.00,1.00
std,28109.02,NaN,NaN,307435.12,0.14

В distance присутствуют очень сильные выбросы, вероятно, они вызваны ошибками в показаниях датчиков

Так как выбросы в distance аномально большие или маленькие, то самым простым способом будет вручную отфильтровать выбросы и исправить ошибочные значения, не прибегая к интерквартильному размаху или стандартным отклонениям

Выбросы будем исправлять по аналогии с пропусками.

Некоторые строки с выбросами также содержали пустые данные и на этапе заполнения пустых данных, заполненные пропуски тоже получили некорректные значения. При условии, что один из параметров выброс, а другой был пропущен - мы не можем восстановить данные, следовательно придется их удалить.

In [21]:
# Обновляем значения в колонке ride_duration
df['ride_duration'] = df.apply(lambda row: (row.end_date - row.start_date).seconds / 60, axis=1)

# Удаляем значения, которые невозможно восстановить и обновляем индексацию
df = df[(df['ride_duration'] < 90) & (df['ride_duration'] > 10)]
df = df.reset_index(drop=True)

##### ДО

In [22]:
df.iloc[954:957]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration
954,101299,2023-04-22 23:54:39,2023-04-23 00:23:58,дачная,центральный,свободы,ленинский,4273850.00,0,29.32
955,101300,2023-04-22 23:58:02,2023-04-23 00:20:51,заречная,юго-восточный,спортивная,октябрьский,3186.00,0,22.82
956,101301,2023-04-22 23:58:44,2023-04-23 00:22:00,подгорная,ленинский,озерная,юго-восточный,4679.00,0,23.27

##### ПОСЛЕ

In [23]:
# Заменяем выбросы в соответствии с формулой
df['distance'] = df['distance'].where(
    (df['distance'] >= 10) & (df['distance'] <= 50000), 
    median_average_speed * (df['ride_duration'] / 60) * 1000
).round().astype(int)

df.iloc[954:957]

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo,ride_duration
954,101299,2023-04-22 23:54:39,2023-04-23 00:23:58,дачная,центральный,свободы,ленинский,4454,0,29.32
955,101300,2023-04-22 23:58:02,2023-04-23 00:20:51,заречная,юго-восточный,спортивная,октябрьский,3186,0,22.82
956,101301,2023-04-22 23:58:44,2023-04-23 00:22:00,подгорная,ленинский,озерная,юго-восточный,4679,0,23.27

#### Проверка работы

In [24]:
# Удаляем теперь ненужные колонны таблицы
df = df.drop(['ride_duration'], axis=1) 

df.describe()

,id,start_date,end_date,distance,promo
count,96638.00,96638,96638,96638.00,96638.00
mean,149020.97,2023-06-13 20:58:56.413264128,2023-06-13 21:25:26.435115264,3845.82,0.02
min,100340.00,2023-04-22 09:01:03,2023-04-22 09:24:45,1094.00,0.00
25%,124672.25,2023-05-20 21:32:31.750000128,2023-05-20 21:58:06,3119.00,0.00
50%,149018.50,2023-06-14 15:08:45,2023-06-14 15:37:43.500000,3743.00,0.00
75%,173376.75,2023-07-08 19:55:47.500000,2023-07-08 20:21:19.500000,4456.00,0.00
max,197711.00,2023-07-31 23:57:01,2023-08-01 00:42:12,12675.00,1.00
std,28113.79,NaN,NaN,1036.42,0.14

### Выгрузка новой таблицы

In [25]:
# Приводим дистанцию к целочисленному типу
df['distance'] = df['distance'].astype(int)

df.to_csv('processed_rides.csv', index=False, date_format='%Y-%m-%d %H:%M:%S')

## Объединение таблиц

Для более удобного анализа данных стоит объединить имеющиеся таблицы

In [26]:
rides_df = pd.read_csv('processed_rides.csv', parse_dates=['start_date', 'end_date'])
weather_df = pd.read_csv('processed_weather.csv', parse_dates=['datetime']).drop(index=0, axis=1)

rides_df['rounded_start_time'] = rides_df['start_date'].dt.round('h')


merge_df = pd.merge_asof(
    rides_df.sort_values('rounded_start_time'), 
    weather_df.sort_values('datetime'), 
    left_on='rounded_start_time', 
    right_on='datetime', 
    direction='backward'
)

merge_df = merge_df.drop('rounded_start_time', axis=1)

merge_df.to_csv('rides_&_weather.csv', index=False)

## Проведение расчетов и иссследований

### 1. Расчет итоговой стоимости

![alt text](image.png)

![alt text](img.png)

In [49]:
data = pd.read_csv('rides_&_weather.csv',
                         na_values="", parse_dates=['start_date', 'end_date', 'datetime']
                         )

In [50]:
data['week'] = data['datetime'].dt.weekday
data['dt'] = (data['end_date'] - data['start_date'])
data['dt'] = data['dt'].dt.total_seconds() // 60

In [51]:
data['dt'].max()

84.0

In [52]:
def f(x: pd.Series) -> int:
    t2 = 0

    if x['week'] == 0 and 6 <= x['start_date'].hour < 10:
        if x['end_date'].hour >= 10:
            t2 = x['end_date'].minute
        return (x['dt'] - t2) * 4 + t2 * 5

        
    elif x['week'] < 5:
        
        if x['start_date'].hour >= 22:
            return x['dt'] * 5 + 30
        
        elif x['start_date'].hour >= 16:
            if x['end_date'].hour >= 22:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 6 + t2 * 5 + 30
        
        elif x['start_date'].hour >= 10:
            if x['end_date'].hour >= 16:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 5 + t2 * 6 + 30
        
        elif x['start_date'].hour >= 6:
            if x['end_date'].hour >= 10:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 4 + t2 * 5 + 30
            
        elif x['start_date'].hour >= 1:
            if x['end_date'].hour >= 6:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 3 + t2 * 4 + 30
        
        elif x['start_date'].hour >= 0:
            if x['end_date'].hour >= 1:
                 t2 = x['end_date'].minute
            return (x['dt'] - t2) * 5 + t2 * 3 + 30
        
        
    elif x['week'] >= 5:
        if x['start_date'].hour >= 22:
            return x['dt'] * 6 + 30
        
        elif x['start_date'].hour >= 16:
            if x['end_date'].hour >= 22:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 7 + t2 * 6 + 30
        
        elif x['start_date'].hour >= 10:
            if x['end_date'].hour >= 16:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 6 + t2 * 7 + 30
        
        elif x['start_date'].hour >= 6:
            if x['end_date'].hour >= 10:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 5 + t2 * 6 + 30
            
        elif x['start_date'].hour >= 1:
            if x['end_date'].hour >= 6:
                t2 = x['end_date'].minute
            return (x['dt'] - t2) * 3 + t2 * 4 + 30
        
        elif x['start_date'].hour >= 0:
            if x['end_date'].hour >= 1:
                 t2 = x['end_date'].minute
            return (x['dt'] - t2) * 6 + t2 * 3 + 30

In [53]:
data['cost'] = data.apply(f, axis=1)

### 2. Стимулирует ли акция спрос на самокаты?

In [174]:
data = pd.read_csv('rides_&_weather.csv',
                         na_values="", parse_dates=['start_date', 'end_date', 'datetime']
                         )

In [182]:
data['week'] = data['datetime'].dt.weekday
data['monday'] = data['week'].apply(lambda x: 1 if x == 0 else 0)

In [183]:
data_morning = data[(data['start_date'].dt.hour >= 6) & (data['end_date'].dt.hour < 10)]

In [184]:
data_morning.groupby(['promo', 'monday'])['promo'].value_counts()

promo  monday
0      0         10768
       1           923
1      1          1683
Name: count, dtype: int64

In [185]:
data_morning.groupby(['promo', 'monday'])['cost'].sum()

promo  monday
0      0         857104.0
       1          74792.0
1      1         131004.0
Name: cost, dtype: float64

In [186]:
data_morning.groupby(['promo', 'monday'])['dt'].sum()

promo  monday
0      0         267032.0
       1          23551.0
1      1          40257.0
Name: dt, dtype: float64

In [189]:
23551 * 32 # доход с людей без акции

753632

In [191]:
23551 * 2 # доход, если бы у людей были акции

47102

Доход несопоставим с издержками

## Проверка гипотез

### 1. В дождливое время спрос на самокаты ниже.

H0: Спрос на самокаты <u>не зависит</u> от погодных условий

H1: Спрос на самокаты <u>зависит</u> от погодных условий

### 4. В выходные дни поездки более длинные

In [44]:
data = pd.read_csv('rides_&_weather.csv', parse_dates=['start_date', 'end_date', 'datetime'])

In [45]:
data['dt'] = data['end_date'] - data['start_date']

In [46]:
data['week'] = data['datetime'].dt.weekday
data['weekend_or_weekday'] = data['week'].apply(lambda x: 1 if x >= 5 else 0)

In [47]:
data[['weekend_or_weekday', 'dt']].groupby(data['weekend_or_weekday'])['dt'].describe()

,count,mean,std,min,25%,50%,75%,max
weekend_or_weekday,,,,,,,,
0,60685,0 days 00:25:49.952426464,0 days 00:09:35.467504371,0 days 00:10:01,0 days 00:19:09,0 days 00:24:05,0 days 00:30:28,0 days 01:24:43
1,35953,0 days 00:27:37.647372959,0 days 00:10:11.878036333,0 days 00:10:01,0 days 00:20:28,0 days 00:25:48,0 days 00:32:42,0 days 01:24:50

Поездки немного длиннее

### 5. В будние дни поездки более скоростные

In [54]:
data = pd.read_csv('rides_&_weather.csv', parse_dates=['start_date', 'end_date', 'datetime'])

In [55]:
data['dt'] = data['end_date'] - data['start_date']

In [56]:
# Создаем колонну ride_duration, которая содержит длительность поездки в минутах
data['ride_duration'] = data.apply(lambda row: (row.end_date - row.start_date).seconds / 60, axis = 1)

# Создаем колонку average_speed, которая хранит среднюю скорость на протяжении всего пути в км/ч
data['average_speed'] = data.apply(lambda row: (row.distance / 1000) / (row.ride_duration / 60), axis=1)

In [57]:
data['week'] = data['datetime'].dt.weekday
data['weekend_or_weekday'] = data['week'].apply(lambda x: 1 if x >= 5 else 0)

In [58]:
data[['weekend_or_weekday', 'average_speed']].groupby(data['weekend_or_weekday'])['average_speed'].describe()

,count,mean,std,min,25%,50%,75%,max
weekend_or_weekday,,,,,,,,
0,60685.0,9.268082,2.003307,2.279973,7.978906,9.125193,10.563617,19.122772
1,35953.0,9.005344,1.920676,2.380302,7.742647,9.114096,10.261256,17.179817

Да, поездки более скоростные, но не сильно

## Регрессионное моделирование